
.skillset-card-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    z-index: 10;
}

.skillset-card {
    width: 28rem;
    height: 34rem;
    margin: 10px;
    padding: 20px;
    background-color: #1a1a1a;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    transition: transform 0.5s;
}

.skillset-card:hover {
    transform: scale(1.05);
}

.skillset-card-title {
    font-size: 3rem;
    font-weight: 700;
    color: #f1f1f1;
}

.skillset-card-content {
    margin-top: 10px;
    font-size: 1.6rem;
    color: #f1f1f1;
}

.skillset-card-image {
    width: 60%;
    height: auto;
    margin-top: 10px;
    border-radius: 1vw;
    margin-bottom: 1rem;
}

.skill {
    margin-right: 0.4vw;
    margin-bottom: 0.2vw;
}

.gear-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14rem;
    height: 14rem;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: -11.5rem;
    padding: 0;
}

.z10 {
    z-index: 10;
    position: relative;
}