.navbar-main-container {
    background-color: transparent;
    padding: 1rem;
    margin-right: 1rem;
    width: 40%;
}

.no-link-nav {
    text-decoration: none;
    color: #445b89;
    width: 10%;
}

.nav-item-text {
    margin-right: 1rem;
    font-size: 2.5vw;
}

.nav-item-icon {
    margin-right: 1rem;
    font-size: 3vw;
}

.nav-item:hover {
    color: #1ddbc5;
}

.hidden-text {
    opacity: 0;
    /* transform: translateX(-100%); */
    transform: translateX(-410px);
    padding-left: 7vw;
    margin-right: -300vw;
    width: 600%;
    transition: opacity 0.8s ease, transform 1.5s ease;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
}

.hidden-text:hover {
    opacity: 1;
    transform: translateX(-90px); /*-45%*/
    width: 600%;
    text-shadow: #08101f -0.2vw 0.2vw 0.2vw;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
    align-items: center;
    transition: opacity 0.5s ease, transform 0.5s ease;
}