
.skillset-card-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1.6vw;
    z-index: 10;
}

.skillset-card {
    width: 24vw;
    height: 34vw;
    margin: 0.8vw;
    padding: 1.6vw;
    background-color: #1a1a1a;
    border-radius: 0.8vw;
    box-shadow: 0 0 1vw 0 rgba(0, 0, 0, 0.3);
    transition: transform 0.5s;
}

.skillset-card:hover {
    transform: scale(1.05);
}

.skillset-card-title {
    font-size: 2.8vw;
    font-weight: 700;
    color: #f1f1f1;
    margin: -0.5vw 0 0 0;
}

.skillset-card-content {
    margin-top: 0.8vw;
    font-size: 1.6vw;
    color: #f1f1f1;
}

.skillset-card-image {
    width: 60%;
    height: auto;
    margin-top: 1vw;
    border-radius: 1vw;
    margin-bottom: 1vw;
}

.skill {
    margin-right: 0.4vw;
    margin-bottom: 0.2vw;
}

.z10 {
    z-index: 10;
    position: relative;
}